APP_NAME="Boarding Face Validation - Central API"
APP_VERSION="0.1.0"
ENVIRONMENT="local"
DEBUG=true

DATABASE_URL="postgresql+asyncpg://postgres:postgres@postgres-central:5432/boarding_central"

LOG_LEVEL="INFO"